*build*/

# C extensions
*.so
*.a

# Compiled Python bytecode
*.py[cod]
*$py.class
*.egg-info/
*.whl
dist/

# IDE cache
.vscode/
.eggs/
.idea/

# Cache files
__pycache__
.pytest_cache/
mypy_cache/

#Ignore files generated at runtime
build
generated

# Exclusions
!app/extern/vimba/*
!tests/*
!docs/static/*
